{% extends 'quora/base.html' %}

{% block stylesheet %}
<style>
.well {margin-bottom:0px;margin-top:27px;border-radius:0;border:0.5px none;background-color:#FFFFFF}
.list-group > li {margin-bottom:20px;border:0 none}
.list-group  {margin-bottom:8px;}
#io,#io1 {margin-top:8px;margin-bottom:8px;}
.numberCircle {
    width: 60px;
    margin-left:19px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #666;
}
.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;
    color: #FFF;
    text-align: center;
    margin-right:15px;
}
.round.blue {
    background-color: #3EA6CE;
}
</style>

{% endblock %}


{% block content %}

            {% if ans_id %}

            {% if past_one_hour %}

                        <div class="container-fluid">
                            <h3 style="word-wrap: break-word;margin-bottom:50px"><a href="{% url 'quora:all_answers' qid=ans_id.question_id.id   %} ">{{ans_id.question_id.question}}</a></h3>
                    <ul class="list-group">

                        <div class="well well-sm"><div class="round blue"><span class="glyphicon glyphicon-user"></span></div><strong>{{ans_id.user_id.fname}} {{ans_id.user_id.lname}}</strong>
                        <p><small style="font-size:12px;margin-left:45px">Answered on {{ans_id.ans_date.date}}</small></p></div>
                        <li class="list-group-item"><p class="text-justify" style="word-wrap: break-word;text-align: justify;text-justify: inter-word;
                                            text-indent:1cm;">{{ans_id.answer}}</p></li>
                      </ul>
                            <h3 id="io" style="padding:19px;">Total Upvotes</h3>
                            <div  class="numberCircle">{{ans_id.answer_upvotes}}</div>
                    </div>


            {% else %}
                                <div class="container-fluid">
                            <h3 style="word-wrap: break-word;margin-bottom:50px"><a href="{% url 'quora:all_answers' qid=ans_id.question_id.id   %} ">{{ans_id.question_id.question}}</a></h3>
                    <ul class="list-group">

                        <div class="well well-sm"><div class="round blue"><span class="glyphicon glyphicon-user"></span></div><strong>{{ans_id.user_id.fname}} {{ans_id.user_id.lname}}</strong>
                        <p><small style="font-size:12px;margin-left:45px">Answered on {{ans_id.ans_date.date}}</small></p></div>
                        <li class="list-group-item"><p class="text-justify" style="word-wrap: break-word;text-align: justify;text-justify: inter-word;
                                            text-indent:1cm;">{{ans_id.answer}}</p></li>
                      </ul>
                            <h3 id="io1" style="padding:19px;">Total Upvotes</h3>
                            <div  class="numberCircle">{{ans_id.answer_upvotes}}</div>
                    </div>


            {% endif %}

            {% else %}
            <div class="page-header">
                 <h3 class="text-info" class="font-weight-bold"><a>No question's answer has been voted in last one hour</a></h3>
            </div>


            {% endif %}


{% endblock %}

